<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Material Complementar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand="block" routerLink="/primbimestre">1º bimestre</ion-button>
    <ion-button expand="block" routerLink="/segbimestre">2º bimestre</ion-button>
    <ion-button expand="block" routerLink="/tercbimestre">3º bimestre</ion-button>
    <ion-button expand="block" routerLink="/quartbimestre">4º bimestre</ion-button>
</ion-content>
